apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: node-app
        image: acrwebappdevops.azurecr.io/webapp:1.0
        ports:
        - containerPort: 3000
        env:
        - name: DB_USER
          valueFrom: { secretKeyRef: { name: db-secret, key: DB_USER } }
        - name: DB_PASSWORD
          valueFrom: { secretKeyRef: { name: db-secret, key: DB_PASSWORD } }
        - name: DB_SERVER
          valueFrom: { secretKeyRef: { name: db-secret, key: DB_SERVER } }
        - name: DB_NAME
          valueFrom: { secretKeyRef: { name: db-secret, key: DB_NAME } }